
@{
    ViewBag.Title = "UserEntry";
    Layout = "~/Views/Shared/_LayoutPageLogin.cshtml";
}

<form>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="User Name">
    </div>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Email">
    </div>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <input type="password" class="form-control" placeholder="Password">
    </div>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <input type="password" class="form-control" placeholder="Repeat Password">
    </div>
    <div class="form-group">
        @Html.ActionLink("Register","Index","Home","aaa",new {@class= "btn float-right login_btn" })
    </div>
</form>

